

* {
    box-sizing: border-box;
}

body {
    background-color: lightyellow;
    position: relative;
}

.row > div {
    float: left;
    padding: 20px;
    margin-top: 10px;
}

.innerdiv {
    background-color: rgb(73, 104, 136);
    position: relative;
    border: 2px solid black;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Rubik', sans-serif;

}

p {
    padding: 10px;
    border: 0px;
    margin-top: 40px;
    font-family: 'Inconsolata', monospace;
    font-size: large;
}

#chicken {
    background-color: rgb(197, 96, 146);
}

#beef {
    background-color: rgb(145, 30, 30);
}

#sushi {
    background-color: rgb(225, 241, 157);
}

h3 {
    width : 30%;
    position: absolute;
    text-align: center;
    right: 0px;
    top: 0px;
    margin-top: 0px;
    padding: 5px;
    border: 1px solid black;
    font-family: 'Nunito', sans-serif;
    font-size: x-large;
}

@media only screen and (min-width: 992px) {

    .col-lg-1 {
        width: 8.33%;   
    }

    .col-lg-2 {
        width: 16.66%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-4 {
        width: 33.33%;
    }

    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-6 {
        width: 49.99%;
    }

    .col-lg-7 {
        width: 58.32%;
    }

    .col-lg-8 {
        width: 66.65%;
    }

    .col-lg-9 {
        width: 74.98%;
    }

    .col-lg-10 {
        width: 83.31%;
    }

    .col-lg-11 {
        width: 91.64%;
    }

    .col-lg-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .col-md-1 {
        width: 8.33%;   
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33%;
    }

    .col-md-5 {
        width: 41.66%;
    }

    .col-md-6 {
        width: 49.99%;
    }

    .col-md-7 {
        width: 58.32%;
    }

    .col-md-8 {
        width: 66.65%;
    }

    .col-md-9 {
        width: 74.98%;
    }

    .col-md-10 {
        width: 83.31%;
    }

    .col-md-11 {
        width: 91.64%;
    }

    .col-md-12 {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {

    .col-sm-1 {
        width: 8.33%;   
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 49.99%;
    }

    .col-sm-7 {
        width: 58.32%;
    }

    .col-sm-8 {
        width: 66.65%;
    }

    .col-sm-9 {
        width: 74.98%;
    }

    .col-sm-10 {
        width: 83.31%;
    }

    .col-sm-11 {
        width: 91.64%;
    }

    .col-sm-12 {
        width: 100%;
    }
}
